body{
  background-color: rgb(232, 225, 216);
}
h1{
  background-color: rgb(27, 27, 67);
  border: 2px solid rgb(27, 27, 67);
  justify-content: center;
  text-transform: capitalize;
  color: aliceblue;
  width: 50vh;
  height: 8vh;
  position: absolute;
  top:20%;
 text-align: center;
 font-size:50px;

}
.main{
  border: 2px solid  rgb(192, 204, 99);
  background-color: rgb(192, 204, 99);
  border-radius: 4%;
  box-shadow:1px 1px;
  width: 50vh;
  height: 60vh;
  position: absolute;
  display: flex;
  top: 16%;
  left: 37%;
}

.incbutton{
  height: 40px;
  width: 150px;
  position: absolute;
  background-color:beige;
  border-radius:5%;
  border-color:beige;
  color: rgb(27, 27, 67);
  top: 50%;
  left: 10%;
  margin-right: 40px;
}

.decbutton{
  height: 40px;
  width: 150px;
  position: absolute;
  background-color:beige;
  border-radius:5%;
  border-color:beige;
  color: rgb(27, 27, 67);
  top: 50%;
  left: 50%;
  margin-left: 20px;
}